<div class= "header">
<h1>Edit Task</h1>
</div>

 <div class="form-container">
  <div class="">
    <%= form_for(@task) do |f| %>
    <%= f.label :title, class: "col-m-4 control-label" %>
    <div >
     <%= f.text_field :title, class: "form-control" %>
    </div>
  </div>
  <div class="">
    <%= f.label :details, class: "col-m-4 control-label" %>
  <div>
    <%= f.text_field :details, class: "form-control" %>
   </div>
  </div>
  <div class= "checkbox">
    <%= f.label :completed %>
    <%= f.check_box :completed %>
  </div>
  <div class = "form-button">
    <%= f.submit%>
    <% end %>
  </div>
</div>


<div class= "task-action-container">
  <a><%= link_to "Back to list", tasks_path %></a>
</div>
